
body {
    /* Typography Declaration */
    color: #222222;
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  .main-body-left {
    width: 50%;
    padding: 40px;
    align-self: auto;
}
  .main-body-right {
    width: 50%;
    padding: 40px;
}

.main-body-left .masthead-heading,
  .masthead-intro,
  .content-footer {
    text-align: center;
  }
  
  .main-body-left .masthead {
    padding: 11em 0;
    background-image: url('https://images.unsplash.com/photo-1512716679859-da19b4af9c38?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    border-top: solid 2em #B69760;
  }
  
  .main-body-left .masthead-intro {
    /* Text Declarations */
    margin-bottom: 0.1em;
    font-family: "Gentium Book Basic," Georgia, serif;
    font-size: 4em;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: .08em;
  }
  
  
  .main-body-left .masthead-heading {
    /*Layout Declarations */
    margin-top: -0.2em;
    /* Typography Declarations */
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: light;
    font-size: 1.5em;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  
  /* Text Declarations for Sections */
  
  .main-body-right .introduction-section > p,
  .location-section > p,
  .content-footer > p,
  .questions-section > p {
    font-weight: 300;
    letter-spacing: 0.05em;
  }
  
  /* Section Styling */
  
  .main-body-right .introduction-section,
  .location-section,
  .questions-section {
    max-width: 38em;
    /* margin-left: auto;
    margin-right: auto; */
    margin-top: 2em;
  }
  
  .main-body-right .questions-section > h2 {
    /*Typography Declarations */
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 1.1 em;
    font-weight: bold;
    color: #222222;
  }
  
  /* Footer Styling */
  
  .main-body-right .fa-stack fa-lg {
    display: inline-block;
  }
  
  .main-body-right .footer-container > p {
    color: white;
  }
  
  .main-body-right .content-footer {
    padding: 2em 0;
    margin-top: 3em;
    background: #2b3840;
  }
  
  .main-body-right a {
    text-decoration: none;
    font-weight: bold;
  }
  
  .main-body-right a:link {
    color: #B69760;
  }
  
  .main-body-right a:visited {
    color: #B69760;
  }
  
  .main-body-right a:hover {
    color: #B69760;
  }
  
  @media only screen and (max-width: 571px) {
      .main-body-left .masthead {
          padding: 5em 0;
      }
      .main-body-left .masthead-intro {
          font-size: 3em;
      }
      .main-body-left .masthead-heading {
          font-size: .5em;
      }
      .main-body-left .container {
          padding: 0 3em;
      }
      .main-body-left .footer-container {
          padding: 0 3em;
    }
  }
  
/*=============================
        Tab Responsiev
===============================*/



@media (min-width: 768px) and (max-width: 1024px) {
  .grad {
    background-color: #78a7c8;
    background-image: linear-gradient(to right, #78a7c8, #34678a 40%);
    padding: 10px;
    color: #fff;
    display: none;
}
  .body-content {
    display: flex;
    flex-direction: column;
    background-color: #efe4e463 !important;
    z-index: 99999999;
  }
  .main-body-left {
    width: 100%;
    padding: 0;
}
.main-body-right {
  width: 100%;
  padding: 0;
}
}
  
/*=============================
        Mobile Responsiev
===============================*/


@media (min-width: 320px) and (max-width: 767px) {
  .grad {
    background-color: #78a7c8;
    background-image: linear-gradient(to right, #78a7c8, #34678a 40%);
    padding: 10px;
    color: #fff;
    display: none;
}
  .main-body-left {
    width: 100%;
    padding: 0;
}
.main-body-left .masthead-heading {
  font-size: 1.5em;
}
.main-body-right {
    width: 100%;
    padding: 0;
}
.main-body-left .masthead {
  padding: 5em 0;
}
.main-body-left .masthead-intro {
  font-size: 3em;
}

.main-body-left .container {
  padding: 0 3em;
}
.main-body-left .footer-container {
  padding: 0 3em;
}
}